.widget {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 4px 12px;
    border-radius: 8px;
}

.widget-header {
    width: 100%;
    display: flex;
    align-self: start;
    justify-content: space-between;
}

.widget-header i {
    color: grey;
    cursor: pointer;
}

.widget-header i:hover {
    color: red;
}

.widget p {
    justify-self: flex-start;
}