.category {
    width: 97%;
    margin: auto;
    margin-top: 24px;
}

.category-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
}

.widget-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    gap: 10px;
}

.add-widget {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-button {
    background: white;
    border: 1px solid #a2a2a2;
    padding: 4px 8px;
}

.widget-button:hover {
    border: 1px solid #15157d;
    color: #15157d;
}

@media (max-width: 750px) {
    .category-title {
        font-size: 14px;
    }

    .widget-list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 200px;
    }
}